* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0% 15%;
}

.background-img {
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 665px;
    padding: 40px 0px;
    text-align: center;
}

.tittle {
    margin-top: 100px;
    font-size: 90px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.pera {
    font-weight: 500;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.button {
    margin-top: 50px;
}


.btn {
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(220, 92, 92);
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 45px;
}

.donat-today {
    text-align: center;
    margin-top: 135px;
}

.donat-today h1 {
    font-size: 50px;
    font-weight: 800;
}

.donat-today p {
    font-size: 24px;
    color: rgb(68, 66, 66);
    margin-top: 20px;
    margin-left: 18%;
    margin-right: 18%;
}

.donat-ammount {
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 900;
    color: rgb(97, 91, 91);
}

.donat-ammount p {
    font-size: 35px;
    padding: 10px 10px;
    font-weight: 700;
    color: rgb(92, 88, 88);
}

.hr-div {
    margin-bottom: 50px;
    color: rgb(152, 143, 143);
}


.other-amount{
    margin-top: 80px;
    font-weight: 200;
    color: rgb(131, 122, 122);
}

.hr {
    width: 80%;
    margin-top: 20px;
    margin-left: 5%;
    text-align: center;
    color: rgb(210, 202, 202);

}

.donet-plan {
    text-align: center;
    padding: 40px 0px;
}

.donet-plan h1 {
    font-size: 70px;
}

.rad {
    border: 3px solid tomato;
    border-radius: 4px;
    background-color: rgb(245, 224, 224);
    color: tomato;
    padding: 30px 20px;
}

.flex {
    display: flex;
}

.icon {
    width: 100px;
    margin-bottom: 40px;
}

.card {
    margin: auto;
}


.card-item-1 {
    margin-right: 10px;
    padding: 50px 20px;
    background-color: rgb(153, 225, 250);
    border-radius: 4px;
}

.card-item-2 {
    margin-right: 10px;
    padding: 50px 20px;
    background-color: rgb(229, 236, 121);
    border-radius: 4px;
}

.card-item-3 {
    margin-right: 10px;
    padding: 50px 20px;
    background-color: rgb(255, 187, 145);
    border-radius: 4px;
}

.half-width {
    width: 50%;
    margin-top: 10%;
}

.half-width h1 {
    font-size: 70px;
}

.half-width img {
    width: 100%;
}

.contribute-box-1 {
    display: flex;
}

.contribute-box-2 {
    display: flex;
}

.box-1 {
    padding-right: 50px;
}

.box-2 {
    padding-left: 50px;
}


/* .donat-ammount p .rad {
    color: rgb(255, 34, 34);
} */